<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );

$this->headScript()->appendFile($this->baseUrl() .  "/includes/javascript/snep.js");
$this->headScript()->appendFile($this->baseUrl() .  '/includes/javascript/registrations.js');
$this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/removeItem.js');

header("Expires: Mon, 26 Jul 1997 05:00:00 GMT");
header("Cache-Control: no-cache");
header("Pragma: no-cache");
header('Cache-Control: max-age=0' );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/jquery.bootpag.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/simpleplayer.js" type="text/javascript"></script>

<div class="row">

  <div class="tab-content">
    <div class="tab-pane active" id="demo">
      <table class="table demo table-hover">
        <thead>
          <tr>
            <th><?php echo $this->translate("Activity date") ?></th>
            <th class="text-center"><?php echo $this->translate("IP") ?></th>
            <th class="text-center"><?php echo $this->translate("User") ?></th>
            <th class="text-center"><?php echo $this->translate("Action") ?></th>
            <th class="text-center"><?php echo $this->translate("Table") ?></th>
            <th class="text-center"><?php echo $this->translate("Description") ?></th>
          </tr>
        </thead>
        <tbody>
          <?php
          foreach( $this->logs as $log){ ?>
            <tr>
              <td class="text-center"><?php echo $log['datetime']; ?></td>
              <td class="text-center"><?php echo $log['ip']; ?></td>
              <td class="text-center"><?php echo $log['user']; ?></td>
              <td class="text-center"><?php echo $log['action']; ?></td>
              <td class="text-center"><?php echo $log['table']; ?></td>
              <td class="text-center"><?php echo $log['description']; ?></td>
            </tr>
            <?php } ?>
          </tbody>
        </table>
        <div class="snep-body-footer-buttons">
          <a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Back")?></a>
        </div>
      </div>
    </div>
  </div>
