
<div class="row">
    <div id="containerStatus">
        <div id="statusright">
            <div id="statusright_icon">
                <ul id="sts_icon_ul">
                    <li>
                        <!-- Asterisk -->
                        <?php
                        if ($this->indexData["asterisk"] != "Asterisk - "){
                            echo "<div class='sn-status-asterisk-1 statusbar-indicator ' style='color:#96d190;' ></div>";
                            echo "<span>".$this->translate("on")."</span>";
                        }else{
                            echo "<div class='sn-status-asterisk-1 statusbar-indicator' style='color:#f0625f;' ></div>";
                            echo "<span>".$this->translate("off")."</span>";
                        }
                        ?>
                    </li>
                    <li>
                        <!-- CPU-->
                        <?php
                        if ($this->indexData["usage"] <= 50){
                            echo "<div class='sn-status-cpu statusbar-indicator' style='color:#96d190;' ></div>";
                        }else if ($this->indexData["usage"] > 50 && $this->indexData["usage"] <= 80){
                            echo "<div class='sn-status-cpu statusbar-indicator' style='color:#eccd61;' ></div>";
                        }else{
                            echo "<div class='sn-status-cpu statusbar-indicator' style='color:#f0625f;' ></div>";
                        }
                        ?>
                        <span><?php echo $this->indexData["usage"] . '%'; ?></span>
                    </li>
                    <li>
                        <!-- Memory RAM -->
                        <?php
                        if ($this->indexData["memory"]['ram']["percent"] <= 50){
                            echo "<div class='sn-status-mem statusbar-indicator' style='color:#96d190;' ></div>";
                        }else if ($this->indexData["memory"]['ram']["percent"] > 50 && $this->indexData["memory"]['ram']["percent"] <= 80){
                            echo "<div class='sn-status-mem statusbar-indicator' style='color:#eccd61;' ></div>";
                        }else{
                            echo "<div class='sn-status-mem statusbar-indicator' style='color:#f0625f;' ></div>";
                        }
                        ?>
                        <span><?php echo $this->indexData["memory"]['ram']["percent"] . '%'; ?></span>
                    </li>
                    <li>
                        <?php
                        foreach ($this->indexData["space"] as $key => $value){
                            if (!isset($maior) || $value["percent"] > $maior["percent"]){
                                $maior = $value;
                            }
                        }
                        if ($maior["percent"] <= 50){
                            echo "<div class='sn-status-disk statusbar-indicator' style='color:#96d190;' ></div>";
                        }else if ($maior["percent"] > 50 && $maior["percent"] <= 80){
                            echo "<div class='sn-status-disk statusbar-indicator' style='color:#eccd61;' ></div>";
                        }else{
                            echo "<div class='sn-status-disk statusbar-indicator' style='color:#f0625f;' ></div>";
                        }
                        ?>
                        <span><?php echo $maior["percent"]; ?></span>
                    </li>
                </ul>
            </div>
        </div> <!-- /.statusTopo -->

        <?php if ($this->error) : ?>
            <div class="error_box" >
                <?php echo $this->translate("Errors were detected in the configuration of SNEP, click "); ?>
                <a href="<?php echo $this->inspector; ?>">
                    <?php echo $this->translate("here"); ?>
                </a>
                <?php echo $this->translate(" for more information"); ?>
            </div>
        <?php endif ?>

        <div id="statusBody">
            <div class="statusColumn">
                <div class="statusBlock">
                    <div class="iconHolder">
                        <span class="sn-status-server"> </span>
                        <h2> <?php echo $this->translate("Server Status"); ?></h2>
                    </div>
                    <div class="contentHolder">

                        <table>
                            <tr>
                                <th width=30%><?php echo $this->translate("Distribution"); ?></th>
                                <td width=70%> <?php echo $this->indexData["linux_ver"]; ?></td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("Kernel"); ?></th>
                                <td> <?php echo $this->indexData['linux_kernel']; ?></td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("CPU"); ?></th>
                                <td> <?php echo $this->indexData["hardware"]; ?></td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("Uptime"); ?></th>
                                <td> <?php echo $this->indexData["uptime"]; ?></td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("Asterisk"); ?></th>
                                <td> <?php echo $this->indexData["asterisk"]; ?></td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("MySQL"); ?></th>
                                <td> <?php echo $this->indexData["mysql"]; ?></td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("SNEP"); ?></th>
                                <td> <?php echo $this->indexData["snep"]; ?></td>
                            </tr>
                        </table>

                    </div> <!-- /.contentHolder -->
                </div> <!-- /.statusBlock -->

                <div class="statusBlock">
                    <div class="iconHolder">
                        <span class="sn-status-mod"> </span>
                        <h2><?php echo $this->translate("Modules"); ?></h2>
                    </div>
                    <div class="contentHolder">

                        <?php
                        if (count($this->indexData["modules"]) > 0) {
                            foreach ($this->indexData["modules"] as $key => $value) {
                                ?>
                                <table>
                                    <tr>
                                        <th><?php echo $this->translate($value['name'])." - "; echo $this->translate($value['version']); ?></th>
                                        <td> <?php echo $this->translate($value['description']); ?></td>
                                    </tr>
                                </table>
                            <?php
                            }
                        }else{
                            ?>
                            <p><?php echo $this->translate("No modules instaled."); ?></p>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div> <!-- /.statusColumn -->

            <div class="statusColumn">
                <div class="statusBlock">
                    <div class="iconHolder">
                        <span class="sn-status-mem"> </span>
                        <h2><?php echo $this->translate("Memory Usage"); ?></h2>
                    </div>
                    <div class="contentHolder">

                        <table>
                            <tr>
                                <th><?php echo $this->translate("Type"); ?></th>
                                <th><?php echo $this->translate("Total"); ?></th>
                                <th><?php echo $this->translate("Free"); ?></th>
                                <th><?php echo $this->translate("Used"); ?></th>
                            </tr>
                            <tr>
                                <th style="text-align: left;"><?php echo $this->translate("Fisical Memory"); ?></th>
                                <td style="text-align: left;"><?php echo $this->indexData["memory"]['ram']["total"]; ?></td>
                                <td style="text-align: left;"><?php echo $this->indexData["memory"]['ram']["free"]; ?></td>
                                <td style="text-align: left;" class="graphBar">
                                    <div class="bar_chart">
                                        <?php
                                        $classColor = '';
                                        if ($this->indexData["memory"]['ram']["percent"] <= 50){
                                            $classColor = "bar_color_green";
                                        }
                                        else if ($this->indexData["memory"]['ram']["percent"] > 50 && $this->indexData["memory"]['ram']["percent"] <= 80){
                                            $classColor = "bar_color_yellow";
                                        }
                                        else{
                                            $classColor = "bar_color_red ";
                                        }
                                        ?>
                                        <div class="bar_inner <?php echo $classColor; ?>"  style="width:  <?php echo $this->indexData["memory"]['ram']["percent"] . '%'; ?>;">
                                            <div class="bar_text">
                                                <?php echo $this->indexData["memory"]['ram']["percent"] . '%'; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate(" -Kernel + Aplic."); ?></th>
                                <td style="text-align: left;"><?php echo $this->indexData["memory"]['ram']["app"]; ?></td>
                                <td style="text-align: left;"></td>
                                <td style="text-align: left;" class="graphBar">
                                    <div class="bar_chart">
                                        <?php
                                        $classColor = '';
                                        if ($this->indexData["memory"]['ram']["app_percent"] <= 50){
                                            $classColor = "bar_color_green";
                                        }
                                        else if ($this->indexData["memory"]['ram']["app_percent"] > 50 && $this->indexData["memory"]['ram']["app_percent"] <= 80){
                                            $classColor = "bar_color_yellow";
                                        }
                                        else{
                                            $classColor = "bar_color_red ";
                                        }
                                        ?>
                                        <div class="bar_inner <?php echo $classColor; ?>"  style="width:  <?php echo $this->indexData["memory"]['ram']["app_percent"] . '%'; ?>;">
                                            <div class="bar_text">
                                                <?php echo $this->indexData["memory"]['ram']["app_percent"] . '%'; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                             <tr>
                                <th style="text-align: left;" ><?php echo $this->translate("Buffers"); ?></th>
                                <td style="text-align: left;" ></td>
                                <td style="text-align: left;" ></td>
                                <td style="text-align: left;" class="graphBar">
                                    <div class="bar_chart">
                                        <?php
                                        $classColor = '';
                                        if ($this->indexData["memory"]['ram']["buffers_percent"] <= 50){
                                            $classColor = "bar_color_green";
                                        }
                                        else if ($this->indexData["memory"]['ram']["buffers_percent"] > 50 && $this->indexData["memory"]['ram']["buffers_percent"] <= 80){
                                            $classColor = "bar_color_yellow";
                                        }
                                        else{
                                            $classColor = "bar_color_red ";
                                        }
                                        ?>
                                        <div class="bar_inner <?php echo $classColor; ?>"  style="width:  <?php echo $this->indexData["memory"]['ram']["buffers_percent"] . '%'; ?>;">
                                            <div class="bar_text">
                                                <?php echo $this->indexData["memory"]['ram']["buffers_percent"] . '%'; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                             <tr>
                                <th><?php echo $this->translate("Cached"); ?></th>
                                <td style="text-align: left;" ></td>
                                <td style="text-align: left;" ></td>
                                <td  style="text-align: left;" class="graphBar">
                                    <div class="bar_chart">
                                        <?php
                                        $classColor = '';
                                        if ($this->indexData["memory"]['ram']["cached_percent"] <= 50){
                                            $classColor = "bar_color_green";
                                        }
                                        else if ($this->indexData["memory"]['ram']["cached_percent"] > 50 && $this->indexData["memory"]['ram']["cached_percent"] <= 80){
                                            $classColor = "bar_color_yellow";
                                        }
                                        else{
                                            $classColor = "bar_color_red ";
                                        }
                                        ?>
                                        <div class="bar_inner <?php echo $classColor; ?>"  style="width:  <?php echo $this->indexData["memory"]['ram']["cached_percent"] . '%'; ?>;">
                                            <div class="bar_text">
                                                <?php echo $this->indexData["memory"]['ram']["cached_percent"] . '%'; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><?php echo $this->translate("Swap Memory"); ?></th>
                                <td style="text-align: left;" ><?php echo $this->indexData["memory"]['swap']["total"]; ?></td>
                                <td style="text-align: left;" ><?php echo $this->indexData["memory"]['swap']["free"] ; ?></td>
                                <td  style="text-align: left;" class="graphBar">
                                <div class="bar_chart">
                                        <?php
                                        $classColor = '';
                                        if ($this->indexData["memory"]['swap']["percent"] <= 50){
                                            $classColor = "bar_color_green";
                                        }
                                        else if ($this->indexData["memory"]['swap']["percent"] > 50 && $this->indexData["memory"]['swap']["percent"] <= 80){
                                            $classColor = "bar_color_yellow";
                                        }
                                        else{
                                            $classColor = "bar_color_red ";
                                        }
                                        ?>
                                        <div class="bar_inner <?php echo $classColor; ?>"  style="width: <?php echo $this->indexData["memory"]['swap']["percent"]. '%'; ?>;">
                                            <div class="bar_text">
                                                <?php echo $this->indexData["memory"]['swap']["percent"] . '%'; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div> <!-- /.contentHolder -->
                </div> <!-- /.statusBlock -->

                <div class="statusBlock">
                    <div class="iconHolder">
                        <span class="sn-status-disk"> </span>
                        <h2><?php echo $this->translate("Disk Usage"); ?></h2>
                    </div>
                    <div class="contentHolder">

                        <table>
                            <tr>
                                <th style="text-align: left;" ><?php echo $this->translate("Partition"); ?></th>
                                <th style="text-align: left;" ><?php echo $this->translate("Size"); ?></th>
                                <th style="text-align: left;" ><?php echo $this->translate("Free"); ?></th>
                                <th style="text-align: left;" ><?php echo $this->translate("Used"); ?></th>
                            </tr>
                            <?php
                            foreach ($this->indexData["space"] as $key => $value) {
                                ?>

                                <tr>
                                    <th style="text-align: left;" ><?php echo $value["mount_point"]; ?></th>
                                    <td style="text-align: left;" ><?php echo $value["size"]; ?></td>
                                    <td  style="text-align: left;" ><?php echo $value["free"]; ?></td>
                                    <td style="text-align: left;"  class="graphBar">
                                        <div class="bar_chart">
                                            <?php
                                            if ($value["percent"] <= 50){
                                                $classColor = "bar_color_green";
                                            }
                                            else if ($value["percent"] > 50 && $value["percent"] <= 80){
                                                $classColor = "bar_color_yellow";
                                            }
                                            else{
                                                $classColor = "bar_color_red ";
                                            }
                                            ?>
                                            <div class="bar_inner <?php echo $classColor; ?>"  style="width: <?php echo $value["percent"]; ?>;">
                                                <div class="bar_text">
                                                    <?php echo $value["percent"]; ?>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            <?php } ?>
                        </table>
                    </div> <!-- /.contentHolder -->
                </div> <!-- /.statusBlock -->
                <!-- <div class="statusBlock">
                    <div class="iconHolder">
                        <span class="sn-status-disk"> </span>
                        <h2><?php //echo $this->translate("SNEP Version"); ?></h2>
                    </div>
                    <div class="contentHolder">

                        <table>
                            <tr>
                                <th style="text-align: left;" >[<?php //echo $this->indexData["apt"]; ?>]</th>
                            </tr>
                        </table>
                    </div>  /.contentHolder -->
                </div> <!-- /.statusBlock --> -->
            </div> <!-- /.statusBColumn -->
        </div> <!-- /.statusBody -->
    </div> <!-- /.containerStatus -->
</div> <!-- /.row -->
